/* RESPONSIVE 576 PX */

@media screen and (max-width: 576px) {
    
    /* Modifichiamo la dimensione del display */

    .container{
        max-width: 576px;
    }

    .d-none-576{
        display: none;
    }
    
    /* Centriamo l'icona fa-square
    e il logo di spotify */

    .auto{
        margin: 0 auto;
    }

    #sidebar figure{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 15px;
    }


    #recently-played .row{
        flex-wrap: wrap;
    }

    #recently-played .column{
        width: calc(100% / 2 - .5rem);
    }

    /* Cambiamo la disposizione della
    nav nel main */

    #main nav ul{
        flex-wrap: wrap;

        margin: 0 -0.125rem;
    }
    

    #main li{
        font-size: 10px;

        padding: 0.5rem 0.125rem;
        width: calc(100% / 3 - 0.125rem);
    }

    .disposition{
        margin: 0;
        display: inline-block;
    }

    /* Facciamo comparire il logo
    più piccolo e scomparire quello
    grande */

    #small-logo{
        display: block;
        max-width: 30px;
    }

    #logo{
        display: none;
    }

    /* Faccio scomparire la scritta
    perchè altrimenti si stropiccia 
    troppo */

    #create-playlist span{
        display: none;
    }

    /* Cambiamo le grandezze delle barre a scorrimento */

    #music-bar{
        width: 50px;
    }
   
    #current-bar{
       width: 20px;
    }
   
   #sound-bar{
        width: 40px;
   }
   
   #current-soundbar{
      width: 20px;
   }

   /* Togliamo le scritte e aumentiamo il font delle icone*/

   .search{
    display: none;
    }

    .fa-house,
    .fa-magnifying-glass,
    .fa-swatchbook{
        font-size: 20px;
    }

    #sidebar nav li,
    #sidebar #create-playlist li{
        text-align: center;
    }

}