/* RESPONSIVE 768 PX */

@media screen and (max-width: 768px){
    
    /* Cambiamo le dimensioni del display */

    .container{
        max-width: 768px;
    }

    /* Cambiamo la disposizione della
    nav nel main */

    #main nav ul{
        flex-wrap: wrap;

        margin: 0 -0.125rem;
    }
    

    #main li{
        font-size: 10px;
        text-align: center;

        padding: 0.5rem 0.125rem;
        width: calc(100% / 5 - 0.125rem);
    }

    .disposition{
        display: block;
        margin: 0 auto;
    }

    /* Diamo aria al logo */

    /* #sidebar figure{
        margin-bottom: 15px;
    } */

    #recently-played .row{
        flex-wrap: wrap;
    }

    #recently-played .column{
        width: calc(100% / 4 - .5rem);
    }

    #main li{
        font-size: 8px;

        max-width: 100px;
    }

    /* Cambiamo le grandezze delle barre a scorrimento */

    #music-bar{
        width: 150px;
    }
   
    #current-bar{
       width: 100px;
    }
   
   #sound-bar{
        width: 100px;

   }
   
   #current-soundbar{
      width: 60px;
   }

}