/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Eliminiamo la linea orizzontale sotto i 
link */

a{
    text-decoration: none;
}

/* Abbaimo eliminato il pallino dell'ul */

ul{
    list-style-type: none;
}

/* Colore per paragraph e title
2 e 3*/

p{
    color: gray;
    font-size: 12px;
}

h3,
h2,
a{
    color: white;
}

/* Adattiamo le immagini alla grandezza dei
blocchi che li contengono */

img{
    max-width: 100%;
}

/* Utils */

.container{
    max-width: 992px;
    margin: 0 auto;
}

.border{
    border: 1px solid red;
}

.border-blue{
    border: 1px solid blue
}

.text-center{
    text-align: center;
}

.btn{
    display: block;

    width: 200px;
    height: 40px;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;

    font-size: 15px;

    /* Centriamo il testo nel button */

    text-align: center;
}

/* 
MARGIN
*/

.marg-b-5{
    margin-bottom: 5px;
}

.marg-b-20{
    margin-bottom: 20px;
}

.marg-b-10{
    margin-bottom: 10px;
}

.marg-t-10{
    margin-top: 10px;
}

/* 
PADDING
*/

.pad-r-5{
    padding-right: 5px;
}

.pad-t-20{
    padding-top: 20px;
}

/*
 FLEX UTILS
 */

.display-flex{
    display: flex;
}

.content-right{
    justify-content: flex-end;
}

.align-center{
    align-items: center;
}

.stretch{
    align-items: stretch;
}

/* In questo modo fissiamo la
dimensione della web application
uguale al 100% della viewport */

/* Non consentiamo lo scroll 
laterale */

body{
    overflow-y: hidden;
}

/* Per far si che la dimensione in height sia 
sempre uguale alla viewport definiamo la 
dimensione del blocco contenente main, header e
navbar */

body > div:first-child{
    height: calc(100vh - 100px);
    overflow-y: hidden;
}

/*
 SIDEBAR
 */

 #sidebar{
     flex-basis: 20%;
     background-color: lightblue;
 }

#main{
    flex-basis: 80%;

    /* Abbiamo calcolato in questo modo 
    l'altezza del main in modo tale da dare
    una dimensione precisa che entrasse 
    all'interno della viewport così da
    fissare correttamente la scroll-bar */

    height: calc(100vh - 100px);
    background-color: #333;

    /* Scroll-bar inserita */
    overflow-y: auto;
}

/*
HEADER 
 */

 #main header{
     position: sticky;
     top: 0;
     width: 100%;
    
    /* L'altezza dell'header è fondamentale 
    perchè è un requisito di calcolo che determina
    la misura precisa dei contenuti principali
    del main, in modo tale che scrollino. */

     height: 50px;
     padding: 10px;

     background-color: #555;

     box-shadow: 1px 3px 3px #777;
 }

 /* Definiamo il bottone presente nell'header */

 header a{
     border: 1px solid white;

     background-color: transparent;
     color: white;
 }

 /*
  AREA CONTENUTI PRINCIPALI
 */

 /* Setting delle section */

 section{
     padding: 30px 10px;
 }

 /* Costruiamo la struttura flex per contenere
 le cards */

 /* Dando padding alle colonne e margin negativo
 al contenitore flex definiamo a nostro piacimento
 lo spessore del gutter */

 .row{
     display: flex;

     margin: 0 -0.5rem;
 }

 .column{
     padding: 0.5rem 0.5rem;

     max-width: 150px;
     min-height: 150px;
 }

 /* Descrizione delle cards */

 .column .description{
     text-align: center;

     /* Abbiamo fissato una max-width
     poichè altrimenti, all'aumentare
     del testo aumenta la grandezza del
     blocco e di conseguenza anche la foto
      */
     max-width: 150px;
 }

 .column .description p{
     font-size: 12px;
}

.column .description h3{
    font-size: 15px;
}

/*
POPULAR ARTISTS SECTION
*/

/* In questo caso le img delle 
cards avranno un bordo non squadrato
ma rotondo
 */

 #popular-artists img{
    border-radius: 50%;
    object-fit: cover;
 }

/*
NAV MAIN
*/

#main nav{
    padding: 10px 100px;

    text-align: center;
    margin: 0 auto;
}

#main ul{
    display: flex;
    justify-content: space-between;
}

#main li{
    font-size: 12px;
}

/* 
SIDEBAR
*/

#sidebar{
    padding: 10px;
    height: calc(100vh - 100px);

    display: flex;
    flex-direction: column;

    background-color: #222;
    color: gray;
}

#sidebar figure{
    max-width: 120px;

    display: block;
}

#sidebar li{
    margin-bottom: 5px;
}

#sidebar a
,li{
    color: gray;
}

/* Insieme delle playlist, per realizzare
ciò che ci è stato richiesto impostiamo 
il problema allo stesso modo di come abbiamo 
strutturato la pagina inizialmente:
diamo una dimensione fissa e poi facciamo
scollare */

#sidebar #more-playlist{
    height: 150px;
    overflow-y: auto;
}

/* Realizziamo una struttura ad hoc in modo
tale che si centrino correttamente icona
e testo */

#create-playlist{
    min-height: 25px;
}

#sidebar > div:first-child{
    flex-basis: 90%;
}

footer hr{
    margin: 5px 0 10px 0;
    background-color: white;
}

/*
 FOOTER
 */

#website-footer{
     background-color: #777;
     color: white;

     height: 100px;
     padding: 20px 10px;

     z-index: 5;

     display: flex;
     justify-content: space-between;
     align-content: center;
 }

 #website-footer p{
     color: #555;
     font-weight: bold;
 }

 #player-img{
     max-width: 50px;
 }

 .player-description{
    display: flex;
    align-items: center;

    padding: 0 10px;
 }


